body, #main {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#gcad-document {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    resize: horizontal;
    overflow-x: scroll;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

#gcad-display-area {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
}

#gcad-display {
    height: 100%;
    width: 100%;
}