body, #main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#gcad-document-area {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    resize: horizontal;
    position: relative;
}

#gcad-document {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    resize: none;
    overflow-x: scroll;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

#gcad-display-area {
    height: 100%;
    flex: 3;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

#gcad-display {
    height: 100%;
    width: 100%;
}

#gcad-error {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 2px;
    bottom: 0;
    left: 0;
    color: red;
    resize: none;
    background-color: transparent;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    border: none;
}